<div>
  <a href="#">
    <img class="burger-image"
      alt="burger menu icon" 
      src="<%= asset_path('mobile_menu.png') %>">
  </a>
  <h1>Categories</h1>
</div>

<nav>
  <span>
    <% if user_signed_in? %> 
      Logged in as <%= current_user.name %>
    <% end %>
  </span>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-btn" %> 
</nav>

<div id="groups">
  <% @groups.each do |group| %>
    <%= link_to group_path(group.id) do %>
      <%= render group %>
    <% end %>
  <% end %>
</div>

<%= link_to "New category", new_group_path, class: "group-btn-new" %>
