<nav class="group-header"> 
  <%= link_to "<<<", groups_path %>
  <%= link_to "Edit this category", edit_group_path(@group) %> |
  <%= button_to "Destroy this category", @group, method: :delete %>
</nav>

<%= render @group %>

<div class="payments-container">
  <% @payments.each do |payment| %>
    <%= link_to group_payment_path(@group.id, payment.id), class: "group-link" do %>
      <div class="payments-item">
        <div class="payment-info">
          <p><%= payment.name %></p>
          <p><%= payment.created_at %></p>
        </div>
        <p>$<%= payment.amount %></p>
      </div>
    <% end %> 
  <% end %> 
</div>

<div>
  <%= button_to "ADD TRANSACTION", new_group_payment_path(@group.id), method: :get, class: "btn-bottom" %>
</div>
