<%= link_to "Back to categories", groups_path %>

<%= render @group %>

<div class="payments-container">
  <% @payments.each do |payment| %>
    <%= link_to group_payment_path(@group.id, payment.id) do %>
      <div class="payments-item">
        <p><%= payment.name %></p>
        <p>$<%= payment.amount %></p>
      </div>
    <% end %> 
  <% end %> 
</div>

<div>
  <%= button_to "Add transaction", new_group_payment_path(@group.id), method: :get %>
  <%= link_to "Edit this category", edit_group_path(@group) %> |

  <%= button_to "Destroy this category", @group, method: :delete %>
</div>
