<div id="<%= dom_id payment %>">
  <p>
    <strong>Name:</strong>
    <%= payment.name %>
  </p>

  <p>
    <strong>Transaction #</strong>
    <%= payment.id %>
  </p>

  <p>
    <strong></strong>
    <%= payment.created_at %>
  </p>

  <p>
    <strong>Total payment:</strong>
    $<%= payment.amount %>
  </p>

</div>
